
*{
    padding:0;
    margin:0;
}

header{
    height:100px;
    width: 100%;
    background: #F8F3FD;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
header h3{
    font-size: 2rem;
    
}
.navbar nav{
    display:flex;
    gap: 10px;
}
.navbar nav li{
    list-style: none;
}
.navbar nav li a{
    text-decoration: none;
    color:#000;
    font-size: 20px;
}
.sign button{
    border:none;
    font-size: 18px;
    margin-left:10px;
    cursor: pointer;
}
.sign .active{
    background-color: #60269e;
    color:#FFF;
    padding: 10px 20px;
    border-radius: 5px;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    margin-top: 7rem;
    margin-inline: 10%;
}
.hero .hero-top p{
    border: 2px solid #60269e;
    border-radius: 10px;
    padding:8px 16px;
}
.hero .hero-center h3{
    font-size: 5rem;
    font-weight: 700;
}
.hero .hero-center h3 span{
    margin-left: 1rem;
}
.hero .hero-bottom p{
    font-size: 1.5rem;;
}
.hero .hero-bottom p span{
    display:block;
    text-align: center;
}
.btn-btn button{
    padding:15px 30px;
    background-color: #60269e;
    color:#ffffff;
    border-radius: 10px;
    border:none;
    font-weight: 700;

}

