
*{
    padding:0;
    margin:0;
}
body{
    font-family:  "Roboto", sans-serif;
}

header{
    height:100px;
    width: 100%;
    background: #F8F3FD;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
header h3{
    font-size: 2rem;
    
}
.navbar nav{
    display:flex;
    gap: 10px;
}
.navbar nav li{
    list-style: none;
}
.navbar nav li a{
    text-decoration: none;
    color:#000;
    font-size: 20px;
}
.sign button{
    border:none;
    font-size: 18px;
    margin-left:10px;
    cursor: pointer;
}
.sign .active{
    background-color: #60269e;
    color:#FFF;
    padding: 10px 20px;
    border-radius: 5px;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    margin-top: 7rem;
    margin-inline: 10%;
}
.hero .hero-top p{
    border: 2px solid #60269e;
    border-radius: 10px;
    padding:8px 16px;
}
.hero .hero-center h3{
    font-size: 5rem;
    font-weight: 700;
}
.hero .hero-center h3 span{
    margin-left: 1rem;
}
.hero .hero-bottom p{
    font-size: 1.5rem;;
}
.hero .hero-bottom p span{
    display:block;
    text-align: center;
}
.btn-btn button{
    padding:15px 30px;
    background-color: #60269e;
    color:#ffffff;
    border-radius: 10px;
    border:none;
    font-weight: 700;
}
#fun-fact{
    margin-top: 6rem;
    padding-bottom: 5rem;
    background-color: #f7f0ff;
}
.fun-fact h4{
    text-align: center;
    padding-top:55px;
    padding-bottom: 93px;
    font-size: 3rem;
    font-weight: 800;
}
.fun-fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 5rem;
}
.fun-icon{
    display:flex;
    gap:10px;
}
.fun-reward span{
    font-size: 2rem;
    font-weight: 800;
}
.fun-reward h5{
    text-transform: uppercase;
    color:#60269e;
    font-size: 16px;
    font-weight: 900;
}
#about-tech-hub{
    margin-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid black;
}
.about-tech-hub{
    display: flex;
    gap: 5rem;
    margin-inline: 5%;
}
.about-hub-left h2{
    padding-bottom: 3rem;
    font-size: 2.5rem;
}
.about-hub-left h3{
    font-size: 1.7rem;
}
.about-hub-left h3 span{
    color:#60269e;
}
.about-hub-left p{
    padding-top: 2rem;
    font-size: 1.5rem;
}
#content{
    margin-top: 2rem;
}
.content h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}
.content-des{
    margin-inline: 10%;
    background-color: #F8F3FD;
    border-radius: 5px;
}
.content-des .content-img{
    display:flex;
    justify-content: center;
    padding-top: 1.5rem;
}
.content-des h3{
    text-align: center;
    padding-top: 20px;
    font-size: 1.5rem;
}
.content-des p{
    padding-inline: 15%;
    padding-top: 2rem;
    font-size: 1.3rem;
    padding-bottom: 4rem;
}
#dev-community{
    margin-top: 3rem;
    background-color: #F8F3FD;
    padding: 20px 10%;
}
#dev-community h2{
 padding-bottom: 1rem;
}
#dev-community h2 span{
    display:block;
}
.dev-community{
    display:flex;
    gap:4rem;
}
.dev-left ul {
  display:flex;
  flex-direction: column;
  gap:30px;
}
.dev-left ul li span{
    font-weight: 900;
}
.dev-right{
    width: 600px;
    height:600px;
    display:flex;
    justify-content: space-between;
    
    
}
.dev-right .dev-img-1{
    width: 100px;
    height:100px;
    padding-top: 10rem;

}
.dev-right .dev-img-2 img{
    width: 400px;
    height:400px;
    border-radius: 10px;
}
#career{
    background-color: #F8F3FD;
    padding-inline: 5%;
}
.career{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    background-color: #60269e;
    padding: 30px;
    border-radius: 10px;
}
.career-des{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 30px;
    color: #ffffff;
}
.career-des h2{
    font-size: 2rem;
}
.career-des p{
    font-weight: 200;

}
.btn-btn-2 button{
    padding: 10px 20px;
    background-color: #60269e;
    border: 2px solid #ffffff;
    color:#ffffff;
    border-radius: 10px;
    font-weight: 200;
}
#mentors{
    background-color: #f7f0ff;
    padding-top: 4rem;
    padding-bottom: 6rem;
}
#mentors h2{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;
}
.mentor p{
    text-align: center;
    margin: 20px 30%;
    font-size: 1.2rem;
    font-weight: 400;
}
.flex-mentors{
    display:flex;
    gap: 20px;
    margin-inline: 10%;
}
.card-mentor{
    width: 25%;
    border: 2px solid #e3d2d2;
    background-color: #ffffff;
    border-radius: 10px;

}
.card-mentor .card-img{
    text-align: center;
    padding-top: 10px;
}
.card-mentor .card-img img:first-child{
    border-radius: 50%;
}
.card-mentor h4{
    text-transform: capitalize;
    text-align: center;
    padding-top: 15px;
    font-weight: 500;
    font-size: 1.5rem;
}
.card-mentor h6{
    text-align: center;
    font-size: 16px;
    padding-top:5px;
    padding-bottom: 10px;
    color: #60269e;
}
.card-mentor .card-des{
    margin-left: 20px;
    padding-bottom: 10px;
}
.card-mentor .icon{
    display:flex;
    justify-content: center;
    gap:20px;
}
footer{
    background-color:#0b0b22;
    color:#ffffff;
    padding: 6rem 0;
    border-radius: 5px;
    
    
}
.footer-container{
    display:flex;
    justify-content: space-around;
    padding-bottom: 2rem;
    border-bottom: 2px solid #ffffff;
    width: 100%;
}
.logo-circle{
    display: flex;
    gap: 20px;
}
.logo-circle .circle-purple{
    height: 20px;
    width:20px;
    border: 10px solid grey;
    border-radius: 50%;
    position:relative;
    
}
.logo-circle .circle-grey{
    height: 20px;
    width: 20px;
    border:10px solid #60269e;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right:10px;

}

.footer-content p{
    padding-top: 20px;
}
.footer-sub{
    display:flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
}
.footer-sub h5{
    font-size: 2rem;
    padding-top: 2rem;
}
.footer-sub ul{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.footer-sub ul li{
    list-style: none;
    font-size: 1.2rem;
}
.footer-sub ul li a{
    text-decoration: none;
    color:#ffffff;
}
/* @tablet */
@media (max-width: 768px) {
   
    header h3{
        font-size: 1.5rem;
    }
    .navbar nav li a{
        font-size: 16px;
    }
    .sign button{
    font-size: 14px;
   }
   .hero{
    gap:2rem;
    margin-top: 2rem;
}

.hero .hero-top p{
    font-size: 16px;
}
.hero .hero-center h3{
    font-size: 3rem;
    font-weight: 800;
}

.hero .hero-bottom p{
    font-size: 1.6rem;
}
.hero .hero-bottom p span{
    display:inline;
}
.btn-btn button{
    padding:10px 20px;

}
#fun-fact{
    margin-top: 3rem;
    padding-bottom: 2rem;
    
}
.fun-fact h4{
    
    padding-top:25px;
    padding-bottom: 30px;
    font-size: 2rem;
    
}
.fun-fact-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    padding-left: 3rem;
}
}
.fun-reward span{
    font-size: 1.5rem;    
}
.fun-reward h5{
    font-size: 16px;
}
.about-tech-hub{
    flex-direction: column;
    justify-content: center;
    
}
.about-hub-left h2{
    padding-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
}
.about-hub-left h3{
    font-size: 1.6rem;
}

.about-hub-left p{
    padding-top: 1.5rem;
    font-size: 1.3rem;
}
.about-hub-right img{
    border-radius: 10px;
}
.content h2{
font-size: 2rem;
}
.content-des h3{
    font-size: 1.5rem;
}
.content-des p{
    font-size: 1.1rem;
}
#dev-community{
    margin-top: 2rem;
     padding: 15px 10%;
}
#dev-community h2{
 padding-bottom: 2.5rem;
 font-size: 2rem;
}
#dev-community h2 span{
    display:block;
}
.dev-community{
    flex-direction: column;
    gap:1rem;
}

.dev-left ul li span{
    font-weight: 700;
    font-size: 18px;
}

.dev-right .dev-img-1{
    display:none;
}
.dev-right .dev-img-2 img{
    width: 600px;
    height:600px;
}
.career{
    flex-direction: column;
}
.career-des{
    width:100%;

}
.career-des h2{
    font-size: 3rem;
}
.career-des p{
    font-size: 25px;
}
.btn-btn-2{
    display: flex;
    justify-content: center;
}

.career-img img{
    height:600px;
    width:600px;
}
#mentors{
    padding-top: 2rem;
    padding-bottom: 1rem;
}
#mentors h2{
    font-size: 2rem;
    padding-bottom: 1rem;
}
.mentor p{
    margin: 10px 10%;
    font-size: 1.2rem;
    
}
.flex-mentors{
    display:flex;
    gap: 10px;
    margin-inline: 5%;
}
.card-mentor{
    width: 25%;
}
.card-mentor .card-img{
    text-align: center;
    padding-top: 10px;
}
.card-mentor .card-img img{
    height:50px;
    width:50px;
}
.card-mentor .card-img img:first-child{
    border-radius: 50%;
}
.card-mentor h4{
    font-size: 20px;
}
.card-mentor h6{
    font-size: 16px;
}
.card-mentor p{
    font-size: 12px;
}
.card-mentor .card-des{
    margin-left: 5px;
}
.card-mentor .icon{
    gap:10px;
}
.footer-container{
    flex-direction: column;
    padding-left: 25px;
}

/*mobile */

@media (max-width: 480px) {

    header{
        display:flex;
        justify-content: flex-start;
        height:50px;
        align-items: center;
        gap:3px;
    }
    header h3{
        font-size: 15px;
    }
    .navbar nav{
        gap:5px;
     }
     .navbar nav li a{
        font-size: 7px;
     }
     .sign button{
    font-size: 7px;
    margin-left:5px;
   }
.sign .active{
    padding: 2px 4px;
    border-radius: 5px;
}
.hero{
    gap:1rem;
    margin-top: 2rem;
    display:flex
    
}
.hero .hero-top{
    display:flex;
    justify-content: center;
}
.hero .hero-top p{
    border: 2px solid #60269e;
    border-radius: 10px;
    font-size: 10px;
}
.hero .hero-center h3{
    font-size: 2rem;
    font-weight: 600;
}
.hero .hero-center h3 span{
    margin-left: 5px;
}
.hero .hero-bottom p{
    font-size: 1rem;
}
.hero .hero-bottom p span{
    display:inline;
}
.btn-btn button{
    padding:7px 14px;
    border-radius: 8px;
}

#fun-fact{
    margin-top: 3rem;
    padding-bottom: 2rem;
    
}
.fun-fact h4{
    
    padding-top:25px;
    padding-right:10px;
    padding-bottom: 30px;
    font-size: 1.1rem;
    
}
.fun-fact-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:3px;
    padding-left: 1rem;
}
.fun-icon{
    display:flex;
    gap:10px;
}
.fun-reward span{
    font-size: 20px;
    font-weight: 800;
}
.fun-reward h5{
    color:#60269e;
    font-size: 10px;
}

.about-tech-hub{
    flex-direction: column;
    justify-content: center;
    
}
.about-hub-left h2{
    padding-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
}
.about-hub-left h3{
    font-size: 16px;
}

.about-hub-left p{
    padding-top: 1.5rem;
    font-size: 14px;
    padding-right: 5px;
}
.about-hub-right img{
    height: 350px;
    width:350px;
}

.content h2{
font-size: 1.5rem;
}
.content-des h3{
    padding-top: 10px;
    font-size: 1.2rem;
}
.content-des p{
    font-size: 16px;
    padding-bottom: 2rem;
}
#dev-community{
    margin-top: 1rem;
     padding: 5px 10%;
}

#dev-community h2{
 padding-bottom: 1rem;
 font-size: 1.2rem;
}
#dev-community h2 span{
    display:block;
}
.dev-community{
    flex-direction: column;
    gap:1rem;
}

.dev-left ul li span{
    font-weight: 700;
    font-size: 16px;
}

.dev-right .dev-img-1{
    display:none;
}
.dev-right .dev-img-2 img{
    width: 300px;
    height:300px;
}
.career{
    flex-direction: column;
}
.career-des{
    width:100%;

}
.career-des h2{
    font-size: 1.2rem;
}
.btn-btn-2{
    display: flex;
    justify-content: center;
}

.career-img img{
    height:300px;
    width:300px;
}
#mentors{
    padding-top: 2rem;
    padding-bottom: 1rem;
}
#mentors h2{
    font-size: 1.2rem;
    padding-bottom: 1rem;
}
.mentor p{
    margin: 10px 10%;
    font-size: 16px;
    
}
.flex-mentors{
    display:flex;
    gap: 10px;
    margin-inline: 2%;
}
.card-mentor{
    width: 20%;
}
.card-mentor .card-img{
    text-align: center;
    padding-top: 10px;
}
.card-mentor .card-img img{
    height:50px;
    width:50px;
}
.card-mentor .card-img img:first-child{
    border-radius: 50%;
}
.card-mentor h4{
    font-size: 15px;
}
.card-mentor h6{
    font-size: 12px;
}
.card-mentor p{
    font-size: 10px;
}
.card-mentor .card-des{
    margin-left: 5px;
}
.card-mentor .icon{
    gap:10px;
}
footer{
    background-color:#0b0b22;
    color:#ffffff;
    padding: 6rem 0;
    border-radius: 5px;
    
    
}
.footer-container{
    flex-direction: column;
    justify-content: space-between;
    padding: 1.4rem;
}


.footer-content p{
    padding-top: 20px;
}
.footer-subdiv{
    display: flex;
    justify-content: space-evenly;
}
.footer-sub{
    display:flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
}
.footer-sub h5{
    font-size: 1rem;
    padding-top: 2rem;
}
.footer-sub ul{
    gap:5px;

}
.footer-sub ul li{
    font-size: 14px;
}

}