
*{
    padding:0;
    margin:0;
}

header{
    height:100px;
    width: 100%;
    background: #F8F3FD;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
header h3{
    font-size: 2rem;
    
}
.navbar nav{
    display:flex;
    gap: 10px;
}
.navbar nav li{
    list-style: none;
}
.navbar nav li a{
    text-decoration: none;
    color:#000;
    font-size: 20px;
}
.sign button{
    border:none;
    font-size: 18px;
    margin-left:10px;
}
.sign .active{
    background-color: #800480;
    color:#FFF;
    padding: 10px 20px;
    border-radius: 5px;
}

